.imagePreview {
  width: 250px; /* A popular width for image previews */
  height: auto; /* Maintain aspect ratio */
  object-fit: cover; /* This will cover the box with the image, cropping it if necessary */
  border-radius: 4px; /* Optional: rounds the corners for a nicer appearance */
  border: 1px solid #ddd; /* Optional: adds a subtle border */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: adds a slight shadow for depth */
}



.croppedImage {
  display: block;
  max-width: 100%; /* Makes sure the image is not wider than its container */
  height: auto; /* Keeps the image's aspect ratio */
  margin: 20px auto; /* Centers the image and adds some spacing above and below */
  border: 1px solid #ddd; /* Optional: adds a border around the image */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: adds a shadow for depth */
  border-radius: 4px; /* Optional: rounds the corners */
}


.cropper-container {
  max-width: 100%;
  height: auto;
  margin: 0 auto; 
}


.cropper-view-box {
  box-shadow: 0 0 0 1px white;
  border-radius: 50%;
}


.cropper-dashed, .cropper-point {
  display: none;
}
